.container {
    width: 100%;
    overflow-x: auto;
    // padding: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    height: min-content;
    width: 100%;

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        width: 30px;
        height: 30px;
        align-items: center;
        text-align: center;
    }

    .hide {
        display: none;
    }

    .night {
        background-color: #e2f6ff;
    }

    .rest {
        background-color: #efefef;
    }

    .evening {
        background-color: #f4e2ff;
    }

    .morning {
        background-color: #ffeccf;
    }

    td:first-child {
        border-right: none; // Supprimer la bordure à droite de la première colonne
    }

    overflow-x: auto; // Activer la barre de défilement horizontal
}


.recomand {
    outline-offset: -2px;
    outline: red solid 2px;
    cursor: pointer;
}